/**reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/** Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

body{
  background-color:hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
}

main{
  padding: 50px;
}

header{
  display: flex;
  text-align: center;
  justify-content: space-between; 
}

header a{
  color:  hsl(0, 0%, 100%);
  padding-left: 50px;
}

/** main banner style*/

.section--banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section--banner img{
  width: 600px;
  padding-bottom: 50px;
}

h1{
  font-weight: bold;
  font-size: 35px;
}

.section--banner span{
  font-size: 17px;
  line-height: 25px;
  padding-top: 25px;
  padding-bottom: 30px;
}


.section--banner a{
  background-color: hsl(176, 68%, 64%);
  padding: 20px 80px;
  border-radius: 32px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.section--banner a:hover{
  background-color: hsl(176, 99%, 49%);
}

.section--services{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
}

.service{
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.service h4{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.service span{
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}


.section--banner--secondary{
  display: flex;
  align-items: center;
}

.left{
  width:50%;
}

.left img{
  width: 90%;
}


.right{
  padding: 50px;
  flex:1;
}

.right h2{
  font-size: 30px;
  margin-bottom: 15px;
}

.right p{
  margin-bottom: 20px;
  line-height: 20px;
}

.right a{
  text-decoration: underline ;
  color: hsl(198, 60%, 50%);
}

.section--testimonials{
  display: flex;
 
  margin-top: 150px;
  margin-bottom: 200px;
  
  
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding: 50px 30px;
 
  flex-wrap: wrap;
  background-color: hsl(219, 30%, 18%);
  border-radius: 10px;
  box-shadow:  10px 10px hsl(240, 1%, 13%);
  
  position: relative;
}

.card:first-child::before{
  content:url('images/bg-quotes.png');
  position: absolute;
  top: -35px;
  left: -15px ;
}

.card p{
  line-height: 25px;
  margin-bottom: 20px ;
  top: -35px;
}

.profile{
  display: flex;
  align-items: center;
}

.bg--perfil{
  margin-right: 10px;
}

.bg--perfil img{
  border-radius: 50%;
  width: 50px;  
}

.card  .name{
  padding-bottom: 5px;
}

.card .function{
  font-size: 10px;
}





footer{
  background-color: hsl(216, 53%, 9%);
  padding: 100px 50px;
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  column-gap: 70px;
  grid-template-areas:
    "logo . . . ."
    "location  contact links more-links social-icons";
}

footer a{
  margin-bottom: 25px;
}

.logo{
  grid-area: logo;
  margin-bottom: 20px;
}

.location{
  grid-area: location;
  display: grid;
  grid-template-columns: 5% 95%;
}

.contact{
  grid-area: contact;
 
}

.contact p{
  margin-bottom: 30px ;
  
}

.contact span{
  padding-left: 20px;
}

.links{
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr;
}

.more-links{
  grid-area: more-links;
  display: grid;
  grid-template-columns: 1fr;
}

.social-icons{
  grid-area:social-icons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-icons i{
  font-size:  30px;
}

